.root {
    margin-top: 20px;
    padding: 20px 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 1em;
    line-height: 1;
    font-weight: 500;
    transition: .3s ease-out;
    box-shadow: none;
    transform: translateX(7px);
    border: 2px solid var(--yellow);
}

.completeTitle {
    text-decoration: line-through;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.checkboxWrapper {
    cursor: pointer;
}

.checkbox {
    display: block;
    position: relative;
    padding-left: 27px;
    margin-bottom: 12px;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    border-radius: 3px;
    background-color: #FFF;
}

.checkbox input:checked~.checkmark {
    background-color: var(--blue);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox input:checked~.checkmark:after {
    display: block;
}

.checkbox .checkmark:after {
    left: 8.5px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #FFF;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn {
    cursor: pointer;
}

.editTask {
    box-shadow: 0px 1px 5px 1px rgba(34, 60, 80, 0.25);
    transform: translateX(0px);
    border: 2px solid rgba(255, 255, 255, 0);
}